<!-- Load Google Custom Search controls. -->


<script>
    (() => {
        "use strict";

        const search_engine_id = {{ site.google.search_engine_id | jsonify }};
        const script = document.createElement("script");

        script.async = true;
        script.src = `https://cse.google.com/cse.js?cx=${search_engine_id}`;
        document.head.append(script);
    })();

    function execute_google_custom_search() {
        const search_input = document.getElementById(
            "cse-search-input-box-id",
        );
        const search_element = (
            window.google?.search?.cse?.element?.getElement(
                "searchresults-only0",
            )
        );

        if (!search_input || !search_element) return false;

        if (search_input.value === "") {
            search_element.clearAllResults();
        } else {
            search_element.execute(search_input.value);
        }

        return false;
    }

    {% if site.google.instant_search %}
        document.getElementById("cse-search-input-box-id")?.addEventListener("input", execute_google_custom_search);
    {% endif %}
</script>
