<!-- Render the configured comments interface. -->


{% assign comments_label = site.data.ui-text[site.locale].comments_label | default: "Comments" %}

<section class="page_comments" aria-label="{{ comments_label }}">
    {% case site.comments.provider %}
        {% when "discourse" %}
            <h2 class="page_comments_title">{{ comments_label }}</h2>
            <section id="discourse-comments"></section>
        {% when "disqus" %}
            <h2 class="page_comments_title">{{ comments_label }}</h2>
            <section id="disqus_thread"></section>
        {% when "facebook" %}
            <h2 class="page_comments_title">{{ comments_label }}</h2>
            <section class="fb-comments" data-href="{{ page.url | absolute_url }}" data-mobile="true" data-num-posts="{{ site.comments.facebook.num_posts | default: 5 }}" data-width="100%" data-colorscheme="{{ site.comments.facebook.colorscheme | default: "light" }}"></section>
        {% when "staticman_v2" %}
            <section id="static-comments">
                {% if site.repository and site.comments.staticman.branch %}
                    <div class="js_comments">
                        {% if site.data.comments[page.slug] %}
                            <h2 class="page_comments_title">{{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h2>
                            {% assign comments = site.data.comments[page.slug] %}
                            {% assign comment_objects = "" | split: "" %}

                            {% for comment in comments %}
                                {% assign comment_object = comment[1] %}
                                {% assign comment_objects = comment_objects | push: comment_object %}
                            {% endfor %}

                            {% assign comments = comment_objects | sort: "date" %}

                            {% for comment in comments %}
                                {% assign email = comment.email %}
                                {% assign name = comment.name %}
                                {% assign url = comment.url %}
                                {% assign date = comment.date %}
                                {% assign message = comment.message %}
                                {% include comment.html index=forloop.index email=email name=name url=url date=date message=message %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="page_comments_form">
                        <h2 class="page_comments_title">{{ site.data.ui-text[site.locale].comments_label | default: "Leave a Comment" }}</h2>
                        <p class="small">
                            {{ site.data.ui-text[site.locale].comment_form_info | default: "Your email address will not be published. Required fields are marked" }}
                            <span class="required">*</span>
                        </p>

                        <form class="page_comments_form js_form form" id="new_comment" method="post" action="{{ site.comments.staticman.endpoint }}{{ site.repository }}/{{ site.comments.staticman.branch }}/comments">
                            <div class="form_spinner">
                                <i class="fas fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
                                <span class="screen_reader_only">{{ site.data.ui-text[site.locale].loading_label | default: "Loading..." }}</span>
                            </div>

                            <div class="form_group">
                                <label for="comment-form-message">
                                    {{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }}
                                    <small class="required">*</small>
                                </label>
                                <textarea id="comment-form-message" name="fields[message]" rows="3"></textarea>
                                <div class="small help_text">
                                    <a href="https://daringfireball.net/projects/markdown/">{{ site.data.ui-text[site.locale].comment_form_md_info | default: "Markdown is supported." }}</a>
                                </div>
                            </div>

                            <div class="form_group">
                                <label for="comment-form-name">
                                    {{ site.data.ui-text[site.locale].comment_form_name_label | default: "Name" }}
                                    <small class="required">*</small>
                                </label>
                                <input id="comment-form-name" name="fields[name]" type="text">
                            </div>

                            <div class="form_group">
                                <label for="comment-form-email">
                                    {{ site.data.ui-text[site.locale].comment_form_email_label | default: "Email address" }}
                                    <small class="required">*</small>
                                </label>
                                <input id="comment-form-email" name="fields[email]" type="email">
                            </div>

                            <div class="form_group">
                                <label for="comment-form-url">{{ site.data.ui-text[site.locale].comment_form_website_label | default: "Website (optional)" }}</label>
                                <input id="comment-form-url" name="fields[url]" type="url">
                            </div>

                            <div class="form_group hidden" style="display: none;">
                                <input name="options[slug]" type="hidden" value="{{ page.slug }}">
                                <label for="comment-form-location">Not used. Leave blank if you are a human.</label>
                                <input id="comment-form-location" name="fields[hidden]" type="text" autocomplete="off">

                                {% if site.reCaptcha.siteKey %}
                                    <input name="options[reCaptcha][siteKey]" type="hidden" value="{{ site.reCaptcha.siteKey }}">
                                {% endif %}

                                {% if site.reCaptcha.secret %}
                                    <input name="options[reCaptcha][secret]" type="hidden" value="{{ site.reCaptcha.secret }}">
                                {% endif %}
                            </div>

                            <p class="hidden js_notice">
                                <strong class="js_notice_text"></strong>
                            </p>

                            {% if site.reCaptcha.siteKey %}
                                <div class="form_group">
                                    <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
                                </div>
                            {% endif %}

                            <div class="form_group">
                                <button class="btn btn_primary btn_large" id="comment-form-submit" type="submit">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" }}</button>
                            </div>
                        </form>
                    </div>

                    {% if site.reCaptcha.siteKey %}
                        <script src="https://www.google.com/recaptcha/api.js" async></script>
                    {% endif %}
                {% endif %}
            </section>
        {% when "staticman" %}
            <section id="static-comments">
                {% if site.repository and site.staticman.branch %}
                    <div class="js_comments">
                        {% if site.data.comments[page.slug] %}
                            <h2 class="page_comments_title">{{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h2>
                            {% assign comments = site.data.comments[page.slug] %}
                            {% assign comment_objects = "" | split: "" %}

                            {% for comment in comments %}
                                {% assign comment_object = comment[1] %}
                                {% assign comment_objects = comment_objects | push: comment_object %}
                            {% endfor %}

                            {% assign comments = comment_objects | sort: "date" %}

                            {% for comment in comments %}
                                {% assign email = comment.email %}
                                {% assign name = comment.name %}
                                {% assign url = comment.url %}
                                {% assign date = comment.date %}
                                {% assign message = comment.message %}
                                {% include comment.html index=forloop.index email=email name=name url=url date=date message=message %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="page_comments_form">
                        <h2 class="page_comments_title">{{ site.data.ui-text[site.locale].comments_label | default: "Leave a Comment" }}</h2>
                        <p class="small">
                            {{ site.data.ui-text[site.locale].comment_form_info | default: "Your email address will not be published. Required fields are marked" }}
                            <span class="required">*</span>
                        </p>

                        <form class="page_comments_form js_form form" id="new_comment" method="post" action="https://api.staticman.net/v1/entry/{{ site.repository }}/{{ site.staticman.branch }}">
                            <div class="form_spinner">
                                <i class="fas fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
                                <span class="screen_reader_only">{{ site.data.ui-text[site.locale].loading_label | default: "Loading..." }}</span>
                            </div>

                            <div class="form_group">
                                <label for="comment-form-message">
                                    {{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }}
                                    <small class="required">*</small>
                                </label>
                                <textarea id="comment-form-message" name="fields[message]" rows="3"></textarea>
                                <div class="small help_text">
                                    <a href="https://daringfireball.net/projects/markdown/">{{ site.data.ui-text[site.locale].comment_form_md_info | default: "Markdown is supported." }}</a>
                                </div>
                            </div>

                            <div class="form_group">
                                <label for="comment-form-name">
                                    {{ site.data.ui-text[site.locale].comment_form_name_label | default: "Name" }}
                                    <small class="required">*</small>
                                </label>
                                <input id="comment-form-name" name="fields[name]" type="text">
                            </div>

                            <div class="form_group">
                                <label for="comment-form-email">
                                    {{ site.data.ui-text[site.locale].comment_form_email_label | default: "Email address" }}
                                    <small class="required">*</small>
                                </label>
                                <input id="comment-form-email" name="fields[email]" type="email">
                            </div>

                            <div class="form_group">
                                <label for="comment-form-url">{{ site.data.ui-text[site.locale].comment_form_website_label | default: "Website (optional)" }}</label>
                                <input id="comment-form-url" name="fields[url]" type="url">
                            </div>

                            <div class="form_group hidden" style="display: none;">
                                <input name="options[slug]" type="hidden" value="{{ page.slug }}">
                                <label for="comment-form-location">Not used. Leave blank if you are a human.</label>
                                <input id="comment-form-location" name="fields[hidden]" type="text" autocomplete="off">
                            </div>

                            <p class="hidden js_notice">
                                <strong class="js_notice_text"></strong>
                            </p>

                            <div class="form_group">
                                <button class="btn btn_primary btn_large" id="comment-form-submit" type="submit">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" }}</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </section>
        {% when "utterances" %}
            <h2 class="page_comments_title">{{ comments_label }}</h2>
            <section id="utterances-comments"></section>
        {% when "giscus" %}
            <h2 class="page_comments_title">{{ comments_label }}</h2>
            <section id="giscus-comments"></section>
        {% when "custom" %}
            {% include comments-providers/custom.html %}
    {% endcase %}
</section>
