<!-- Load legacy Google Analytics. -->


<script>
    window._gaq = window._gaq || [];
    window._gaq.push(["_setAccount", {{ site.analytics.google.tracking_id | jsonify }}]);

    {% if site.analytics.google.anonymize_ip == true %}
        window._gaq.push(["_gat._anonymizeIp"]);
    {% endif %}

    window._gaq.push(["_trackPageview"]);

    (() => {
        "use strict";

        const first_script = document.getElementsByTagName("script")[0];
        const script = document.createElement("script");
        const analytics_host = document.location.protocol === "https:" ? "https://ssl" : "http://www";

        script.src = `${analytics_host}.google-analytics.com/ga.js`;
        script.async = true;
        first_script.parentNode.insertBefore(script, first_script);
    })();
</script>
