<!-- Load Disqus comments. -->


{% if site.comments.disqus.shortname %}
    <script>
        window.disqus_config = function () {
            this.page.url = {{ page.url | absolute_url | jsonify }};
            this.page.identifier = {{ page.id | jsonify }};
        };

        (() => {
            "use strict";

            const script = document.createElement("script");

            script.src = {{ site.comments.disqus.shortname | prepend: "https://" | append: ".disqus.com/embed.js" | jsonify }};
            script.dataset.timestamp = String(Date.now());
            (document.head || document.body).append(script);
        })();
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
