<!-- Load Facebook comments. -->


<div id="fb-root"></div>

<script>
    ((document_reference, tag_name, script_id) => {
        "use strict";

        const first_script = document_reference.getElementsByTagName(tag_name)[0];

        if (document_reference.getElementById(script_id)) return;

        const script = document_reference.createElement(tag_name);

        script.id = script_id;
        script.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5{% if site.comments.facebook.appid %}&appId={{ site.comments.facebook.appid }}{% endif %}";
        first_script.parentNode.insertBefore(script, first_script);
    })(document, "script", "facebook-jssdk");
</script>
