<!-- Submit comments through Staticman v1. -->


{% if site.repository and site.staticman.branch %}
    <script>
        (($) => {
            "use strict";

            const comment_form = $("#new_comment");
            const submit_button = $("#comment-form-submit");
            const notice = $(".page_comments_form .js_notice");
            const notice_text = $(".page_comments_form .js_notice_text");
            const loading_label = {{ site.data.ui-text[site.locale].loading_label | default: "Loading..." | jsonify }};
            const submitted_label = {{ site.data.ui-text[site.locale].comment_btn_submitted | default: "Submitted" | jsonify }};
            const submit_label = {{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" | jsonify }};
            const success_message = {{ site.data.ui-text[site.locale].comment_success_msg | default: "Thanks for your comment! It will show on the site once it has been approved." | jsonify }};
            const error_message = {{ site.data.ui-text[site.locale].comment_error_msg | default: "Sorry, there was an error with your submission. Please make sure all required fields have been completed and try again." | jsonify }};

            function show_alert(message) {
                notice.removeClass("hidden");
                notice_text.text(message);
            }

            comment_form.on("submit", (event) => {
                event.preventDefault();

                const form = $(event.currentTarget);

                form.addClass("disabled");
                submit_button.html(`<i class="fas fa-spinner fa-spin fa-fw"></i> ${loading_label}`);

                $.ajax({
                    type: form.attr("method"),
                    url: form.attr("action"),
                    data: form.serialize(),
                    contentType: "application/x-www-form-urlencoded",
                    success: () => {
                        submit_button.text(submitted_label);
                        notice.removeClass("notice_danger").addClass("notice_success");
                        show_alert(success_message);
                    },
                    error: (error) => {
                        console.error(error);
                        submit_button.text(submit_label);
                        notice.removeClass("notice_success").addClass("notice_danger");
                        show_alert(error_message);
                        form.removeClass("disabled");
                    },
                });
            });
        })(jQuery);
    </script>
{% endif %}
