<!-- Load Utterances comments. -->


<script>
    (() => {
        "use strict";

        const comment_container = document.querySelector("#utterances-comments", );

        if (!comment_container) return;

        const script = document.createElement("script");

        script.src = "https://utteranc.es/client.js";
        script.setAttribute("repo", {{ site.repository | jsonify }});
        script.setAttribute("issue-term", {{ site.comments.utterances.issue_term | default: "pathname" | jsonify }});

        {% if site.comments.utterances.label %}
            script.setAttribute("label", {{ site.comments.utterances.label | jsonify }});
        {% endif %}

        script.setAttribute("theme", {{ site.comments.utterances.theme | default: "github-light" | jsonify }});
        script.crossOrigin = "anonymous";
        comment_container.append(script);
    })();
</script>
