/* Air skin */

@use "sass:color";

/* Colors */
$background_color: #eeeeee !default;
$text_color: #222831 !default;
$muted_text_color: #393e46 !default;
$primary_color: #0092ca !default;
$border_color: color.mix(#fff, #393e46, 75%) !default;
$footer_background_color: $primary_color !default;
$link_color: #393e46 !default;
$masthead_link_color: $text_color !default;
$masthead_link_color_hover: $text_color !default;
$navicon_link_color_hover: color.mix(#fff, $text_color, 80%) !default;

.page_footer {
    color: #fff !important;
}

.footer_follow {
    .social_icons {
        .svg-inline--fa {
            color: inherit;
        }
    }
}
