/* Aqua skin */

@use "sass:color";

/* Colors */
$gray: #1976d2 !default;
$dark_gray: color.mix(#000, $gray, 40%) !default;
$darker_gray: color.mix(#000, $gray, 60%) !default;
$light_gray: color.mix(#fff, $gray, 50%) !default;
$lighter_gray: color.mix(#fff, $gray, 90%) !default;

$body_color: #fff !default;
$background_color: #f0fff0 !default;
$code_background_color: $lighter_gray !default;
$code_background_color_dark: $light_gray !default;
$text_color: $dark_gray !default;
$border_color: $lighter_gray !default;

$primary_color: $gray !default;
$success_color: #27ae60 !default;
$warning_color: #e67e22 !default;
$danger_color: #c0392b !default;
$info_color: #03a9f4 !default;

/* Links */
$link_color: $info_color !default;
$link_color_hover: color.mix(#000, $link_color, 25%) !default;
$link_color_visited: color.mix(#fff, $link_color, 25%) !default;
$masthead_link_color: $primary_color !default;
$masthead_link_color_hover: color.mix(#000, $primary_color, 25%) !default;

/* Notices */
$notice_background_mix: 90% !default;
$code_notice_background_mix: 95% !default;
