/* Contrast skin */

@use "sass:color";

/* Colors */
$text_color: #000 !default;
$muted_text_color: $text_color !default;
$primary_color: #b60000 !default;
$border_color: color.mix(#fff, $text_color, 75%) !default;
$footer_background_color: #000 !default;
$link_color: #0000ff !default;
$masthead_link_color: $text_color !default;
$masthead_link_color_hover: $text_color !default;
$navicon_link_color_hover: color.mix(#fff, $text_color, 80%) !default;

/* Contrast syntax highlighting */
$base00: #000000 !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: #b5b3aa !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: #ffffb6 !default;
$base0b: #a8ff60 !default;
$base0c: #c6c5fe !default;
$base0d: #96cbfe !default;
$base0e: #ff73fd !default;
$base0f: #b18a3d !default;

.page_content {
    .notice,
    .notice_primary,
    .notice_info,
    .notice_warning,
    .notice_success,
    .notice_danger {
        color: $text_color;
    }
}

.page_footer {
    color: #fff !important;
}

.footer_follow {
    .social_icons {
        i,
        .svg-inline--fa {
            color: inherit;
        }
    }
}
