/* Dark skin */

@use "sass:color";

/* Colors */
$background_color: #252a34 !default;
$text_color: #eaeaea !default;
$primary_color: #00adb5 !default;
$border_color: color.mix(#fff, $background_color, 20%) !default;
$code_background_color: color.mix(#000, $background_color, 15%) !default;
$code_background_color_dark: color.mix(#000, $background_color, 20%) !default;
$form_background_color: color.mix(#000, $background_color, 15%) !default;
$footer_background_color: color.mix(#000, $background_color, 30%) !default;
$link_color: color.mix($primary_color, $text_color, 40%) !default;
$link_color_hover: color.mix(#fff, $link_color, 25%) !default;
$link_color_visited: color.mix(#000, $link_color, 25%) !default;
$masthead_link_color: $text_color !default;
$masthead_link_color_hover: color.mix(#000, $text_color, 20%) !default;
$navicon_link_color_hover: color.mix(#000, $background_color, 30%) !default;

.author_urls.social_icons {
    i,
    .svg-inline--fa {
        color: inherit;
    }
}

.footer_follow {
    .social_icons {
        i,
        .svg-inline--fa {
            color: inherit;
        }
    }
}

.ais-search-box {
    .ais-search-box--input {
        background-color: $form_background_color;
    }
}
