/* Mint skin */

@use "sass:color";

/* Colors */
$background_color: #f3f6f6 !default;
$text_color: #40514e !default;
$muted_text_color: #40514e !default;
$primary_color: #11999e !default;
$border_color: color.mix(#fff, #40514e, 75%) !default;
$footer_background_color: #30e3ca !default;
$link_color: #11999e !default;
$masthead_link_color: $text_color !default;
$masthead_link_color_hover: $text_color !default;
$navicon_link_color_hover: color.mix(#fff, $text_color, 80%) !default;

.page_footer {
    color: #fff !important;
}

.footer_follow {
    .social_icons {
        i,
        .svg-inline--fa {
            color: inherit;
        }
    }
}
