/* Neon skin */

@use "sass:color";

/* Colors */
$background_color: #141010 !default;
$text_color: #fff6fb !default;
$primary_color: #f21368 !default;
$border_color: color.mix(#fff, $background_color, 20%) !default;
$code_background_color: color.mix(#000, $background_color, 15%) !default;
$code_background_color_dark: color.mix(#000, $background_color, 20%) !default;
$form_background_color: color.mix(#000, $background_color, 15%) !default;
$footer_background_color: color.mix($primary_color, #000, 10%) !default;
$link_color: $primary_color !default;
$link_color_hover: color.mix(#fff, $link_color, 25%) !default;
$link_color_visited: color.mix(#000, $link_color, 25%) !default;
$masthead_link_color: $text_color !default;
$masthead_link_color_hover: color.mix(#000, $text_color, 20%) !default;
$navicon_link_color_hover: color.mix(#000, $background_color, 30%) !default;

/* Notices */
$notice_background_mix: 90% !default;
$code_notice_background_mix: 95% !default;

/* Neon syntax highlighting */
$base00: #ffffff !default;
$base01: #e0e0e0 !default;
$base02: #d0d0d0 !default;
$base03: #b0b0b0 !default;
$base04: #000000 !default;
$base05: #101010 !default;
$base06: #151515 !default;
$base07: #202020 !default;
$base08: #ff0086 !default;
$base09: #fd8900 !default;
$base0a: #aba800 !default;
$base0b: #00c918 !default;
$base0c: #1faaaa !default;
$base0d: #3777e6 !default;
$base0e: #ad00a1 !default;
$base0f: #cc6633 !default;

.author_urls.social_icons {
    i,
    .svg-inline--fa {
        color: inherit;
    }
}

.footer_follow {
    .social_icons {
        i,
        .svg-inline--fa {
            color: inherit;
        }
    }
}

/* Pagination */
.pagination_pager {
    border-color: transparent;
    background-color: $primary_color;
    color: $text_color;

    &:visited {
        color: $text_color;
    }
}

.ais-search-box {
    .ais-search-box--input {
        background-color: $form_background_color;
    }
}
