/*
파일(File):
    - _sass/customs/_codeblock.scss

목적(Purpose):
    - Tree-Sitter Syntax Highligter에 의해 생성된 코드블럭을 스타일링합니다.

의존성(Dependencies):
    - Tree-Sitter Syntax Highlighter
    - assets/js/customs/codeblock/metadata.js
    - assets/js/customs/codeblock/copy_to_clipboard.js
    - assets/js/customs/codeblock/floating_copy_button.js
*/

/* 코드블럭 스타일링 ======================================================================================== */
.highlighter-tree-sitter {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background: $codeblock_dark_background;
    font-family: $monospace;
    font-size: $type_size_9;
    line-height: 1.5;
    color: $codeblock_dark_foreground;

    [dir=rtl] & {
        direction: ltr;
        text-align: start;
    }

    > pre {
        overflow: auto;
        margin: 0;
        padding: 0.5rem;
    }

    pre code {
        display: block;
        white-space: pre;
    }
}

/* 구문 강조 색상 ========================================================================================= */
.highlighter-tree-sitter {
    .ts-attribute {
        color: $codeblock_dark_attributes;
    }

    .ts-comment {
        color: $codeblock_dark_comment;
    }

    .ts-constant,
    .ts-constant-builtin {
        color: $codeblock_dark_constant;
    }

    .ts-function,
    .ts-function-builtin {
        color: $codeblock_dark_function;
    }

    .ts-keyword {
        color: $codeblock_dark_keyword;
    }

    .ts-operator {
        color: $codeblock_dark_operator;
    }

    .ts-property {
        color: $codeblock_dark_property;
    }

    .ts-string {
        color: $codeblock_dark_string;
    }

    .ts-string-special-symbol {
        color: $codeblock_dark_function;
    }

    .ts-tag {
        color: $codeblock_dark_tag;
    }

    .ts-type,
    .ts-type-builtin {
        color: $codeblock_dark_type;
    }

    .ts-variable,
    .ts-variable-parameter {
        color: $codeblock_dark_variable;
    }

    .ts-variable-builtin {
        color: $codeblock_dark_variable_builtin;
    }

    .ts-constructor,
    .ts-module {
        color: $codeblock_dark_module;
    }

    .ts-punctuation-bracket {
        color: $codeblock_dark_punctuation_bracket;
    }

    .ts-punctuation-delimeter {
        color: $codeblock_dark_punctuation_delimeter;
    }

    .ts-punctuation-special {
        color: $codeblock_dark_punctuation_special;
    }

    .ts-error {
        color: $codeblock_dark_error;
    }

    .ts-number {
        color: $codeblock_dark_number;
    }
}

/* 무지개 괄호 강조 효과 ==================================================================================== */
.highlighter-tree-sitter {
    .bracket {
        font-weight: inherit;
    }

    .bracket-depth-1 {
        color: $codeblock_dark_bracket_depth_1;
    }

    .bracket-depth-2 {
        color: $codeblock_dark_bracket_depth_2;
    }

    .bracket-depth-3 {
        color: $codeblock_dark_bracket_depth_3;
    }

    .bracket-depth-4 {
        color: $codeblock_dark_bracket_depth_4;
    }

    .bracket-depth-5 {
        color: $codeblock_dark_bracket_depth_5;
    }

    .bracket-depth-6 {
        color: $codeblock_dark_bracket_depth_6;
    }

    .bracket-depth-7 {
        color: $codeblock_dark_bracket_depth_7;
    }

    .bracket-depth-8 {
        color: $codeblock_dark_bracket_depth_8;
    }

    .bracket-mismatch {
        text-decoration: underline wavy $codeblock_dark_error;
        text-decoration-skip-ink: none;
        text-underline-offset: 3px;
        color: $codeblock_dark_error;
    }
}

/* 코드블럭 메타데이터 ======================================================================================= */
.highlighter-tree-sitter {
    .codeblock-masthead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 0.25rem;
        background: $codeblock_dark_background;
        font-family: $sans_serif;
        font-size: $type_size_9;
    }

    .codeblock-masthead__language {
        font-weight: bold;
    }

    .codeblock-masthead__filename {
        margin-left: 0.5rem;
    }
}

/* 코드블럭 줄 번호 ======================================================================================== */
.highlighter-tree-sitter > .codeblock__body {
    display: grid;
    grid-template-columns: auto 1fr;

    // 코드 행 번호를 표시하는 공간의 기본 스타일을 정의합니다.
    .gutter {
        padding: 0 0.5rem 0.75rem 0.75rem;
        border-radius: 0.5rem;
        background: $codeblock_dark_background;
        text-align: right;
        color: $codeblock_dark_line_numbers;

        // 코드와 행별 높이를 일치시킵니다.
        > span {
            display: block;
            line-height: inherit;
        }
    }

    // 코드와 공간을 일치시킵니다.
    > pre {
        margin: 0;
        padding: 0 0.75rem 0.75rem 0.5rem;
    }
}

/* 코드블럭 코드 복사 버튼 =================================================================================== */
.codeblock-copy_button {
    display: inline-flex;
    align-items: center;
    padding: 0.1rem 0.25rem;
    gap: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    background: inherit;
    font-family: $sans_serif;
    font-size: $type_size_9;
    color: $codeblock_dark_widget_foreground;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 1px solid $primary_color;
    }

    .codeblock-copy_button_icon {
        display: inline-block;
        width: 14px;
        height: 14px;
    }
}

/* 코드블럭 플로팅 코드 복사 버튼 ============================================================================ */
.codeblock-copy--floating {
    display: none;
    position: fixed;

    .codeblock-copy_button {
        display: inline-flex;
        align-items: center;
        padding: 0.15rem 0.3rem;
        gap: 0.25rem;
        border: 1px solid $gray;
        border-radius: 0.25rem;
        background: $codeblock_dark_widget;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 1px solid $primary_color;
        }
    }
}

@media (max-width: 768px) {
    .highlighter-tree-sitter {
        font-size: $type_size_8;
    }
}
