/* Tree-sitter code blocks. */

// Common styles.
.highlighter-tree-sitter {
    position: relative;

    margin-bottom: 1rem;

    border-radius: 0.25rem;

    background: $codeblock_dark_background;

    color: $codeblock_dark_foreground;

    font-family: $monospace;
    font-size: $type_size_9;
    line-height: 1.5;

    [dir="rtl"] & {
        direction: ltr;

        text-align: start;
    }

    pre {
        overflow: auto;

        margin: 0;

        code {
            display: block;

            white-space: pre;
        }
    }

    > pre {
        padding: 0.5rem;
    }

    // Highlight syntax.
    .ts-attribute {
        color: $codeblock_dark_attributes;
    }

    .ts-comment {
        color: $codeblock_dark_comment;
    }

    .ts-constant,
    .ts-constant-builtin {
        color: $codeblock_dark_constant;
    }

    .ts-function,
    .ts-function-builtin {
        color: $codeblock_dark_function;
    }

    .ts-keyword {
        color: $codeblock_dark_keyword;
    }

    .ts-operator {
        color: $codeblock_dark_operator;
    }

    .ts-property {
        color: $codeblock_dark_property;
    }

    .ts-string {
        color: $codeblock_dark_string;
    }

    .ts-string-special-symbol {
        color: $codeblock_dark_function;
    }

    .ts-tag {
        color: $codeblock_dark_tag;
    }

    .ts-type,
    .ts-type-builtin {
        color: $codeblock_dark_type;
    }

    .ts-variable,
    .ts-variable-parameter {
        color: $codeblock_dark_variable;
    }

    .ts-variable-builtin {
        color: $codeblock_dark_variable_builtin;
    }

    .ts-constructor,
    .ts-module {
        color: $codeblock_dark_module;
    }

    .ts-punctuation-bracket {
        color: $codeblock_dark_punctuation_bracket;
    }

    .ts-delimiter {
        color: $codeblock_dark_punctuation_delimiter;
    }

    .ts-punctuation-special {
        color: $codeblock_dark_punctuation_special;
    }

    .ts-error {
        color: $codeblock_dark_error;
    }

    .ts-number {
        color: $codeblock_dark_number;
    }

    // Highlight bracket depth.
    .codeblock_bracket_depth_1 {
        color: $codeblock_dark_bracket_depth_1;
    }

    .codeblock_bracket_depth_2 {
        color: $codeblock_dark_bracket_depth_2;
    }

    .codeblock_bracket_depth_3 {
        color: $codeblock_dark_bracket_depth_3;
    }

    .codeblock_bracket_depth_4 {
        color: $codeblock_dark_bracket_depth_4;
    }

    .codeblock_bracket_depth_5 {
        color: $codeblock_dark_bracket_depth_5;
    }

    .codeblock_bracket_depth_6 {
        color: $codeblock_dark_bracket_depth_6;
    }

    .codeblock_bracket_depth_7 {
        color: $codeblock_dark_bracket_depth_7;
    }

    .codeblock_bracket_depth_8 {
        color: $codeblock_dark_bracket_depth_8;
    }

    .codeblock_bracket_mismatch {
        color: $codeblock_dark_error;

        text-decoration: underline wavy $codeblock_dark_error;
        text-decoration-skip-ink: none;
        text-underline-offset: 3px;
    }

    // Show metadata.
    .codeblock_masthead {
        display: flex;

        align-items: center;
        justify-content: space-between;

        padding: 0.5rem;

        font-family: $sans_serif;
    }

    .codeblock_masthead_language {
        font-weight: bold;
    }

    .codeblock_masthead_filename {
        margin-left: 0.5rem;
    }
    // Show line numbers.
    > .codeblock_body {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);

        // Make space for line numbers.
        .codeblock_gutter {
            padding: 0 0.5rem 0.75rem 0.75rem;

            color: $codeblock_dark_line_numbers;

            text-align: right;

            // Match the code line height.
            > span {
                display: block;

                line-height: inherit;
            }
        }

        // Match the code height.
        > pre {
            min-width: 0;

            padding: 0 0.75rem 0.75rem 0.5rem;
        }
    }
}

// Copy button.
.codeblock_copy_button {
    display: inline-flex;

    align-items: center;

    padding: 0.1rem 0.25rem;

    border: none;
    border-radius: 0.25rem;

    background: transparent;

    color: $codeblock_dark_widget_foreground;

    font-size: $type_size_9;
    line-height: 1;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 2px solid $primary_color;
    }

    .codeblock_copy_button_icon {
        flex: none;

        width: 1.25em;
        height: 1.25em;
    }
}

// Float the copy button.
.codeblock_copy_floating {
    display: none;

    position: fixed;

    .codeblock_copy_button {
        padding: 0.15rem 0.3rem;

        border: 1px solid $gray;

        background: $codeblock_dark_widget;
    }
}

@media (max-width: 768px) {
    .highlighter-tree-sitter {
        font-size: $type_size_8;
    }
}
