/* Fonts */


// Sans-serif

// Pretendard Variable
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

// Pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// Wanted Sans Variable
@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

// Noto Sans KR
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");


// Serif

// Maru Buri
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/MaruBuri/MaruBuri.css");

// Nanum Myeongjo
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

// Noto Serif KR
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap");


// Monospace

// D2Coding
@font-face {
    font-family: "D2Coding";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

// Nanum Gothic Coding
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

// JetBrains Mono
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");


// Bitmap sans-serif

// Mona12
@import url("https://cdn.jsdelivr.net/gh/MonadABXY/mona-font/web/mona.css");

// Galmuri14
@font-face {
    font-family: "Galmuri14";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri14.woff2") format("woff2");
    font-display: swap;
    font-weight: normal;
}
