---
layout: archive
---


{{ content }}

{% assign posts_by_year = site.posts | where_exp: "post", "post.hidden != true" | group_by_exp: "post", "post.date | date: '%Y'" %}
{% assign entries_layout = page.entries_layout | default: "list" %}

<ul class="taxonomy_index">
    {% for year in posts_by_year %}
        <li>
            <a class="taxonomy_link" href="#{{ year.name }}">
                <strong>{{ year.name }}</strong>
                <span class="taxonomy_count">{{ year.items | size }}</span>
            </a>
        </li>
    {% endfor %}
</ul>

{% for year in posts_by_year %}
    <section class="taxonomy_archive_section" id="{{ year.name }}">
        <h2 class="taxonomy_archive_title">{{ year.name }}</h2>

        <div class="taxonomy_archive_posts">
            {% for post in year.items %}
                {% include archive-single.html archive_layout=entries_layout %}
            {% endfor %}
        </div>

        <a class="back_to_top" href="#page_title">{{ site.data.ui-text[site.locale].back_to_top | default: "Back to Top" }} &uarr;</a>
    </section>
{% endfor %}
