---
layout: default
---


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
    {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
    {% unless paginator %}
        {% include breadcrumbs.html %}
    {% endunless %}
{% endif %}

<main id="main">
    {% include sidebar.html %}

    <div class="archive">
        {% unless page.header.overlay_color or page.header.overlay_image %}
            <h1 class="page_title" id="page_title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title }}</h1>
        {% endunless %}

        {{ content }}

        {% assign search_provider = site.search_provider | default: "lunr" %}

        {% case search_provider %}
            {% when "lunr" %}
                <label class="screen_reader_only" for="search_input">
                    {{ site.data.ui-text[site.locale].search_label_text | default: "Enter your search term..." }}
                </label>
                <input class="search_input" id="search_input" type="search" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: "Enter your search term..." }}">
                <div class="search_results" id="search_results" role="status" aria-live="polite" aria-atomic="true"></div>
            {% when "google" %}
                <form id="cse-search-box-form-id" role="search" onsubmit="return execute_google_custom_search();">
                    <label class="screen_reader_only" for="cse-search-input-box-id">
                        {{ site.data.ui-text[site.locale].search_label_text | default: "Enter your search term..." }}
                    </label>
                    <input class="search_input" id="cse-search-input-box-id" type="search" placeholder="{{ site.data.ui-text[site.locale].search_placeholder_text | default: "Enter your search term..." }}">
                </form>

                <div class="search_results" id="search_results" role="status" aria-live="polite" aria-atomic="true">
                    <gcse:searchresults-only></gcse:searchresults-only>
                </div>
            {% when "algolia" %}
                <div class="search-searchbar"></div>
                <div class="search-hits" role="status" aria-live="polite" aria-atomic="true"></div>
        {% endcase %}
    </div>
</main>
