---
layout: default
---


{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
    {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
    {% include page__hero_video.html %}
{% endif %}

<main id="main">
    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
        {% if page.title %}
            <meta content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}" itemprop="headline">
        {% endif %}

        {% if page.excerpt %}
            <meta content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}" itemprop="description">
        {% endif %}

        {% if page.date %}
            <meta content="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% endif %}

        {% if page.last_modified_at %}
            <meta content="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
        {% endif %}

        <section class="page_content" itemprop="text">
            {{ content }}
        </section>
    </article>
</main>
