/* Base elements */


html {
    position: relative;

    min-height: 100%;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;

    flex-direction: column;

    min-height: 100vh;

    padding: 0;
    margin: 0;

    color: $text_color;

    font-family: $global_font_family;
    line-height: 1.5;

    &.overflow_hidden {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 0.5em;

    font-family: $header_font_family;
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    margin-top: 0;

    font-size: $h_size_1;
}

h2 {
    font-size: $h_size_2;
}

h3 {
    font-size: $h_size_3;
}

h4 {
    font-size: $h_size_4;
}

h5 {
    font-size: $h_size_5;
}

h6 {
    font-size: $h_size_6;
}

small,
.small {
    font-size: $type_size_6;
}

p {
    margin-bottom: 1.3em;
}

u,
ins {
    border-bottom: 1px solid $text_color;

    text-decoration: none;

    a {
        color: inherit;
    }
}

del a {
    color: inherit;
}


// Reduce orphans and widows when printing.
p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset {
    orphans: 3;
    widows: 3;
}

abbr[title],
abbr[data-original-title] {
    border-bottom: 1px dotted $text_color;

    text-decoration: none;

    cursor: help;
}

blockquote {
    padding-inline: 1em;
    margin-block: 2em;
    margin-inline-end: 1em;

    border-inline-start: 0.25em solid $primary_color;

    font-style: italic;

    cite {
        font-style: italic;

        &::before {
            content: "\2014";

            padding-inline-end: 5px;
        }
    }
}

a {
    &:focus {
        @extend %tab_focus;
    }

    &:visited {
        color: $link_color_visited;
    }

    &:hover {
        outline: 0;

        color: $link_color_hover;
    }
}

button:focus {
    @extend %tab_focus;
}

tt,
code,
kbd,
samp,
pre {
    font-family: $monospace;
}

pre {
    overflow-x: auto;
}

hr {
    display: block;

    margin: 1em 0;

    border: 0;
    border-top: 1px solid $border_color;
}

ul li,
ol li {
    margin-bottom: 0.5em;
}

li ul,
li ol {
    margin-top: 0.5em;
}


// Figures and images
figure {
    display: flex;

    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 2em 0;

    img,
    iframe,
    .fluid_width_video_wrapper {
        margin-bottom: 1em;
    }

    img {
        width: 100%;

        border-radius: $border_radius;

        transition: $global_transition;
    }

    > a {
        display: block;
    }

    &.half {
        > a,
        > img {
            @include breakpoint($small) {
                width: calc(50% - 0.5em);
            }
        }

        figcaption {
            width: 100%;
        }
    }

    &.third {
        > a,
        > img {
            @include breakpoint($small) {
                width: calc(33.3333% - 0.5em);
            }
        }

        figcaption {
            width: 100%;
        }
    }
}

figcaption {
    margin-bottom: 0.5em;

    color: $muted_text_color;

    font-family: $caption_font_family;
    font-size: $type_size_6;

    a {
        transition: $global_transition;

        &:hover {
            color: $link_color_hover;
        }
    }
}


// Navigation lists
nav {
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    ul li,
    ol li {
        margin-bottom: 0;
    }

    li ul,
    li ol {
        margin-top: 0;
    }
}
