/* Buttons */

@use "sass:color";


.btn {
    display: inline-block;

    padding: 0.5em 1em;
    margin-bottom: 0.25em;

    border-width: 0;
    border-radius: $border_radius;

    font-family: $sans_serif;
    font-size: $type_size_6;
    font-weight: bold;

    text-align: center;
    text-decoration: none;

    cursor: pointer;

    .icon {
        margin-inline-end: 0.5em;

        + .hidden {
            margin-inline-start: -0.5em;
        }
    }

    $button_colors:
        ("primary", $primary_color),
        ("inverse", #fff),
        ("light_outline", transparent),
        ("success", $success_color),
        ("warning", $warning_color),
        ("danger", $danger_color),
        ("info", $info_color),
        ("bluesky", $bluesky_color),
        ("facebook", $facebook_color),
        ("linkedin", $linkedin_color),
        ("mastodon", $mastodon_color),
        ("twitter", $twitter_color),
        ("x", $x_color);

    @each $button_color, $color in $button_colors {
        &_#{$button_color} {
            @include apply_yiq_contrast($color);

            @if $button_color == "inverse" {
                border: 1px solid $border_color;
            }

            @if $button_color == "light_outline" {
                border: 1px solid #fff;
            }

            &:visited {
                @include apply_yiq_contrast($color);
            }

            &:hover {
                @include apply_yiq_contrast(color.mix(#000, $color, 20%));
            }
        }
    }

    &_block {
        display: block;

        width: 100%;

        + .btn_block {
            margin-top: 0.25em;
        }
    }

    &_disabled {
        box-shadow: none;
        opacity: 0.65;

        pointer-events: none;
    }

    &_x_large {
        font-size: $type_size_4;
    }

    &_large {
        font-size: $type_size_5;
    }

    &_small {
        font-size: $type_size_7;
    }
}
