/* Navigation. */

@use "sass:color";


// Breadcrumbs
.breadcrumbs {
    @include apply_clearfix();

    max-width: 100%;

    padding-inline: 1em;
    margin: 0 auto;

    font-family: $sans_serif;

    animation: $intro_transition;
    animation-delay: 0.3s;

    @include breakpoint($x_large) {
        max-width: $x_large;
    }

    ol {
        padding: 0;

        font-size: $type_size_6;

        list-style: none;

        @include breakpoint($large) {
            float: inline-end;
            width: calc(100% - #{$right_sidebar_width_narrow});
        }

        @include breakpoint($x_large) {
            width: calc(100% - #{$right_sidebar_width});
        }
    }

    li {
        display: inline;
    }

    .current {
        font-weight: bold;
    }
}


// Post pagination.
.pagination {
    @include apply_clearfix();

    float: inline-start;

    width: 100%;

    padding-top: 1em;
    margin-top: 1em;

    ul {
        padding: 0;
        margin: 0;

        font-family: $sans_serif;

        list-style-type: none;
    }

    li {
        display: block;
        float: inline-start;
        margin-inline-start: -1px;

        a {
            display: block;

            padding: 0.5em 1em;

            margin-bottom: 0.25em;

            border: 1px solid color.mix(#000, $border_color, 25%);
            border-radius: 0;

            color: $muted_text_color;

            font-family: $sans_serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;

            text-align: center;
            text-decoration: none;

            &:hover {
                color: $link_color_hover;
            }

            &.current,
            &.current.disabled {
                background: $primary_color;

                color: #fff;
            }

            &.disabled {
                color: rgba($muted_text_color, 0.5);

                pointer-events: none;
                cursor: not-allowed;
            }
        }

        &:first-child {
            margin-inline-start: 0;

            a {
                border-start-start-radius: $border_radius;
                border-end-start-radius: $border_radius;
            }
        }

        &:last-child {
            a {
                border-start-end-radius: $border_radius;
                border-end-end-radius: $border_radius;
            }
        }
    }

    // Next and previous buttons.
    &_pager {
        display: block;

        float: inline-start;

        width: 50%;

        padding: 1em 2em;

        border: 1px solid color.mix(#000, $border_color, 25%);
        border-radius: $border_radius;

        color: $muted_text_color;

        font-family: $sans_serif;
        font-size: $type_size_5;
        font-weight: bold;

        text-align: center;
        text-decoration: none;

        &:hover {
            @include apply_yiq_contrast($muted_text_color);
        }

        &:first-child {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }

        &:last-child {
            margin-inline-start: -1px;
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }

        &.disabled {
            color: rgba($muted_text_color, 0.5);

            pointer-events: none;
            cursor: not-allowed;
        }
    }
}

.paginator {
    display: flex;

    align-items: center;
    justify-content: center;

    margin: 1rem 0;
}

.paginator_list {
    display: flex;

    align-items: center;

    gap: 1rem;

    padding: 0;
    margin: 0;

    list-style: none;
}

.paginator_item {
    &.selected {
        .paginator_link {
            border-color: $primary_color;

            color: $primary_color;

            font-weight: bold;
        }
    }

    &.disabled {
        .paginator_link {
            opacity: 0.5;

            cursor: default;
        }
    }

    &.control {
        .paginator_link {
            width: 28px;
            height: 28px;

            padding: 0;

            font-size: $type_size_6;
            font-weight: normal;
        }
    }
}

.paginator_link {
    display: inline-flex;

    align-items: center;
    justify-content: center;

    min-width: 30px;
    height: 28px;

    padding: 0 0.5rem;

    border: 1px solid transparent;
    border-radius: 0.25rem;

    color: $dark_gray;

    font-size: $type_size_10;
    font-weight: normal;
    line-height: 1;

    text-align: center;
    text-decoration: none;

    &:visited {
        color: $dark_gray;
    }

    &:hover,
    &:focus-visible {
        color: $primary_color;

        text-decoration: none;
    }
}

@media (max-width: 480px) {
    .paginator_list {
        gap: 0.25rem;
    }

    .paginator_link {
        min-width: 28px;

        padding: 0 0.25rem;
    }
}

.page_content,
.page_meta,
.page_share,
.page_comments {
    + .pagination {
        padding-top: 2em;
        margin-top: 2em;

        border-top: 1px solid $border_color;
    }
}


// Priority navigation.
.greedy_nav {
    display: flex;

    position: relative;

    align-items: center;

    min-height: $nav_height;

    background: $background_color;

    a {
        display: block;

        margin: 0 1rem;

        color: $masthead_link_color;

        text-decoration: none;

        transition: none;

        &:hover {
            color: $masthead_link_color_hover;
        }

        &.site_logo {
            margin-inline-start: 0;
            margin-inline-end: 0.5rem;
        }

        &.site_title {
            margin-inline-start: 0;
        }
    }

    img {
        transition: none;
    }

    &_toggle {
        align-self: center;

        height: $nav_toggle_height;

        border: 0;

        outline: none;

        background-color: transparent;

        cursor: pointer;
    }

    .visible_links {
        display: flex;

        overflow: hidden;

        justify-content: flex-end;

        flex: 1;

        li {
            flex: none;
        }

        a {
            position: relative;

            &::before {
                content: "";

                position: absolute;
                bottom: 0;
                inset-inline-start: 0;

                width: 100%;
                height: 4px;

                background: $primary_color;

                transform: scaleX(0) translate3d(0, 0, 0);
                transition: $global_transition;
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }

    .hidden_links {
        position: absolute;
        top: 100%;
        inset-inline-end: 0;

        padding: 5px;
        margin-top: 15px;

        border: 1px solid $border_color;
        border-radius: $border_radius;

        background: $background_color;
        box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

        &.hidden {
            display: none;
        }

        a {
            padding: 10px 20px;
            margin: 0;

            font-size: $type_size_5;

            &:hover {
                background: $navicon_link_color_hover;

                color: $masthead_link_color_hover;
            }
        }

        &::before {
            content: "";

            display: block;

            position: absolute;
            top: -11px;
            inset-inline-end: 10px;

            z-index: 0;

            width: 0;

            border-style: solid;
            border-width: 0 10px 10px;
            border-color: $border_color transparent;
        }

        &::after {
            content: "";

            display: block;

            position: absolute;
            top: -10px;
            inset-inline-end: 10px;

            z-index: 1;

            width: 0;

            border-style: solid;
            border-width: 0 10px 10px;
            border-color: $background_color transparent;
        }

        li {
            display: block;

            border-bottom: 1px solid $border_color;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.no_js {
    .greedy_nav {
        .visible_links {
            overflow: visible;

            flex-wrap: wrap;
        }
    }
}


// Navigation lists.
.navigation_list {
    margin-bottom: 1.5em;

    > .navigation_title {
        padding-inline-start: 0;
    }

    input[type="checkbox"],
    label {
        display: none;
    }

    @include breakpoint(max-width $large - 1px) {
        label {
            display: inline-block;

            position: relative;

            z-index: 20;

            padding: 0.5em 2.5em 0.5em 1em;

            border: 1px solid $light_gray;
            border-radius: $border_radius;

            color: $gray;

            font-size: $type_size_6;
            font-weight: bold;

            cursor: pointer;

            transition: 0.2s ease-out;

            &::before,
            &::after {
                content: "";

                position: absolute;
                top: 1.25em;
                inset-inline-end: 1em;

                width: 0.75em;
                height: 0.125em;

                background-color: $gray;

                line-height: 1;

                transition: 0.2s ease-out;
            }

            &::after {
                transform: rotate(90deg);
            }

            &:hover {
                border-color: $gray;

                background-color: color.mix(white, #000, 20%);

                color: #fff;

                &::before,
                &::after {
                    background-color: #fff;
                }
            }
        }

        // Selected navigation list.
        input:checked + label {
            background-color: color.mix(white, #000, 20%);

            color: white;

            &::before,
            &::after {
                background-color: #fff;
            }
        }

        label:hover::after {
            transform: rotate(90deg);
        }

        input:checked + label:hover::after {
            transform: rotate(0);
        }

        ul {
            margin-bottom: 1em;
        }

        a {
            display: block;
            padding: 0.25em 0;

            @include breakpoint($large) {
                padding-top: 0.125em;
                padding-bottom: 0.125em;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.navigation_list {
    .navigation_items {
        margin: 0;
        font-size: 1.25rem;

        a {
            color: inherit;
        }

        .is_active {
            margin-inline-start: -0.5em;
            padding-inline: 0.5em;
            font-weight: bold;
        }

        @include breakpoint(max-width $large - 1px) {
            overflow: hidden;

            position: relative;

            z-index: 10;

            max-height: 0;

            opacity: 0;

            transform: translate(0, 10%);
            transition: 0.3s ease-in-out;
        }
    }
}

@include breakpoint(max-width $large - 1px) {
    .navigation_list {
        input:checked {
            ~ .navigation_items {
                overflow: visible;

                max-height: 9999px;

                margin-top: 1em;

                opacity: 1;

                transform: translate(0, 0);
                transition: 0.5s ease-in-out;
            }
        }
    }
}

.navigation_title {
    padding: 0.5rem 0.75rem;
    margin: 0;

    font-family: $sans_serif_narrow;
    font-size: $type_size_5;
    font-weight: bold;
}

.navigation_subtitle {
    display: block;

    padding: 0.25rem 0;
    margin: 0.5rem 0;

    border-bottom: 1px solid $border_color;

    font-family: $sans_serif_narrow;
    font-size: $type_size_6;
    font-weight: bold;

    text-transform: uppercase;
}


// Theme table of contents.
.toc {
    border: 1px solid $border_color;
    border-radius: $border_radius;

    background-color: $background_color;
    box-shadow: $box_shadow;

    color: $gray;

    font-family: $sans_serif_narrow;

    .navigation_title {
        border-start-start-radius: $border_radius;
        border-start-end-radius: $border_radius;

        background: $primary_color;

        color: #fff;

        font-size: $type_size_6;
    }

    // Mark the focused table of contents item.
    .active a {
        @include apply_yiq_contrast($active_color);
    }
}

.toc_menu {
    width: 100%;

    padding: 0;
    margin: 0;

    font-size: $type_size_6;

    list-style: none;

    @include breakpoint($large) {
        font-size: $type_size_7;
    }

    a {
        display: block;

        padding: 0.25rem 0.75rem;

        border-bottom: 1px solid $border_color;

        color: $muted_text_color;

        font-weight: bold;
        line-height: 1.5;

        &:hover {
            color: $text_color;
        }
    }

    li ul > li a {
        padding-inline-start: 1.25rem;
        font-weight: normal;
    }

    li ul li ul > li a {
        padding-inline-start: 1.75rem;
    }

    li ul li ul li ul > li a {
        padding-inline-start: 2.25rem;
    }

    li ul li ul li ul li ul > li a {
        padding-inline-start: 2.75rem;
    }

    li ul li ul li ul li ul li ul > li a {
        padding-inline-start: 3.25rem;
    }
}


// Post table of contents.
.table_of_contents {
    overflow: auto;

    max-height: calc(100vh - 3rem);

    padding: 0.25rem 0.5rem;
    margin: 0;

    font-family: $sans_serif;
    font-size: $type_size_9;
    font-weight: normal;
    line-height: 1.5;

    .navigation_title {
        display: block;

        padding: 0;
        margin: 0;

        color: $black;

        font-family: $sans_serif;
        font-size: $type_size_9;
        font-weight: bold;
        line-height: inherit;

        text-decoration: none;

        &:visited {
            color: $black;
        }

        &:focus {
            outline: none;
        }

        &:hover,
        &:focus-visible {
            color: $primary_color;

            text-decoration: none !important;
        }

        &:focus-visible {
            outline: 2px solid $primary_color;
        }
    }

    .toc_menu {
        position: relative;

        padding: 0 0 0 0.75rem;
        margin: 0.25rem 0 0;

        border-inline-start: 1px solid $light_gray;

        font-size: inherit;

        list-style: none;

        &::after {
            content: "";

            position: absolute;
            top: var(--toc_active_line_top, 0);
            inset-inline-start: -1px;

            width: 2px;
            height: var(--toc_active_line_height, 0);

            background: $primary_color;

            opacity: 0;

            pointer-events: none;

            transition:
                height 0.125s ease-in-out,
                opacity 0.125s ease-in-out,
                top 0.125s ease-in-out;
        }

        &.has_active_link::after {
            opacity: 1;
        }

        a {
            display: block;

            padding: 0;

            border: none;

            color: $gray;

            font-family: $sans_serif;
            font-size: $type_size_9;
            font-weight: normal;
            line-height: inherit;

            text-decoration: none;

            &:visited {
                color: $gray;
            }

            &:hover {
                color: $primary_color;

                text-decoration: none;
            }

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: 2px solid $primary_color;

                color: $primary_color;
            }

            &.active,
            &.active:hover,
            &.active:focus-visible {
                color: $primary_color;
            }
        }
    }

    .toc_menu {
        ul {
            padding-inline-start: 0.75rem;
            margin: 0;

            border: none;

            font-size: inherit;
            font-weight: normal;

            list-style: none;
        }

        li {
            > a {
                margin-bottom: 0.1rem;
            }
        }
    }
}
