/* Notice blocks */

@use "sass:color";
@use "sass:selector";


@mixin apply_notice($notice_color) {
    padding: 1em;
    margin: 2em 0 !important;

    border-radius: $border_radius;

    background-color: color.mix($background_color, $notice_color, $notice_background_mix);
    box-shadow: 0 1px 1px rgba($notice_color, 0.25);

    color: $text_color;

    font-family: $global_font_family;
    font-size: $type_size_6 !important;

    text-indent: initial;

    h4 {
        margin-top: 0 !important;
        margin-bottom: 0.75em;

        line-height: inherit;

        .page_content & {
            margin-bottom: 0;

            font-size: 1em;
        }
    }

    p:last-child {
        margin-bottom: 0 !important;
    }

    h4 + p {
        padding-top: 0;
        margin-top: 0;
    }

    a {
        color: color.mix(#000, $notice_color, 10%);

        &:hover {
            color: color.mix(#000, $notice_color, 50%);
        }
    }

    @at-root #{selector.unify(&, "blockquote")} {
        border-inline-start-color: color.mix(#000, $notice_color, 10%);
    }

    code {
        background-color: color.mix($background_color, $notice_color, $code_notice_background_mix);
    }

    pre code {
        background-color: inherit;
    }

    ul:last-child {
        margin-bottom: 0;
    }
}

.notice,
.markdown-alert {
    @include apply_notice($light_gray);
}

.notice_primary,
.markdown-alert-important {
    @include apply_notice($primary_color);
}

.notice_info,
.markdown-alert-note {
    @include apply_notice($info_color);
}

.notice_warning,
.markdown-alert-warning {
    @include apply_notice($warning_color);
}

.notice_success,
.markdown-alert-tip {
    @include apply_notice($success_color);
}

.notice_danger,
.markdown-alert-caution {
    @include apply_notice($danger_color);
}
