/* Base style resets */


* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    background-color: $background_color;
    font-size: $doc_font_size;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    @include breakpoint($medium) {
        font-size: $doc_font_size_medium;
    }

    @include breakpoint($large) {
        font-size: $doc_font_size_large;
    }

    @include breakpoint($x_large) {
        font-size: $doc_font_size_x_large;
    }
}


// Remove body margin
body {
    margin: 0;
}


// Style selected text
::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}


// Display semantic elements consistently
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
}

a {
    color: $link_color;
}

a:focus {
    @extend %tab_focus;
}

a:hover,
a:active {
    outline: 0;
}


// Keep subscript and superscript from changing line height
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


// Normalize responsive images
img {
    width: auto\9;
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}


// Preserve Google Maps image sizing
#map_canvas img,
.google-maps img {
    max-width: none;
}


// Normalize form controls
button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

input[type="search"] {
    box-sizing: border-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}
