/* Sidebars */


// Right sidebar.
.sidebar_right {
    padding-inline-start: 1.5rem;
    margin-bottom: 1em;

    @include breakpoint($large) {
        position: absolute;
        top: 0;
        inset-inline-end: 0;

        z-index: 10;

        width: $right_sidebar_width_narrow;

        padding-inline-start: 1.5rem;
        margin-inline-end: -1 * $right_sidebar_width_narrow;

        &.sticky {
            @include apply_clearfix();

            float: inline-end;

            position: sticky;
            top: 3rem;
        }
    }

    @include breakpoint($x_large) {
        width: $right_sidebar_width;
        margin-inline-end: -1 * $right_sidebar_width;
    }

    &.sticky {
        .toc_menu {
            @include breakpoint($large) {
                overflow-y: auto;

                max-height: calc(100vh - 7em);
            }
        }
    }
}

.splash {
    .sidebar_right {
        @include breakpoint($large) {
            float: inline-end;

            position: relative;

            margin-inline-end: 0;
        }

        @include breakpoint($x_large) {
            margin-inline-end: 0;
        }
    }
}


// Theme author profile.
.author_avatar {
    display: table-cell;

    width: 36px;
    height: 36px;

    vertical-align: top;

    @include breakpoint($large) {
        display: block;
        width: auto;
        height: auto;
    }

    img {
        max-width: 110px;
        border-radius: 50%;

        @include breakpoint($large) {
            padding: 5px;
            border: 1px solid $border_color;
        }
    }
}

.author_content {
    display: table-cell;

    padding-inline: 15px 25px;

    line-height: 1;

    vertical-align: top;

    @include breakpoint($large) {
        display: block;
        width: 100%;
        padding-inline: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.author_name {
    margin: 0;

    @include breakpoint($large) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.sidebar {
    .author_name {
        font-family: $sans_serif;
        font-size: $type_size_5;
    }
}

.author_bio {
    margin: 0;

    @include breakpoint($large) {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.author_urls_wrapper {
    display: table-cell;

    position: relative;

    z-index: 20;

    font-family: $sans_serif;

    vertical-align: middle;

    cursor: pointer;

    li:last-child {
        a {
            margin-bottom: 0;
        }
    }

    .author_urls {
        span.label {
            padding-inline-start: 5px;
        }
    }

    @include breakpoint($large) {
        display: block;
    }

    button {
        position: relative;
        margin-bottom: 0;

        &::before {
            @supports (pointer-events: none) {
                content: "";

                position: fixed;
                top: 0;
                inset-inline-start: 0;

                width: 100%;
                height: 100%;

                pointer-events: none;
            }
        }

        &.is_open {
            &::before {
                pointer-events: auto;
            }
        }

        @include breakpoint($large) {
            display: none;
        }
    }
}

.author_urls {
    display: none;

    position: absolute;
    inset-inline-end: 0;

    padding: 10px;
    margin-top: 15px;

    border: 1px solid $border_color;
    border-radius: $border_radius;

    background: $background_color;
    box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

    list-style-type: none;

    cursor: default;

    &.is_visible {
        display: block;
    }

    @include breakpoint($large) {
        display: block;

        position: relative;

        padding: 0;
        margin: 0;

        border: 0;

        background: transparent;
        box-shadow: none;
    }

    &::before {
        content: "";

        display: block;

        position: absolute;
        top: -11px;
        inset-inline-start: calc(50% - 10px);

        z-index: 0;

        width: 0;

        border-style: solid;
        border-width: 0 10px 10px;
        border-color: $border_color transparent;

        @include breakpoint($large) {
            display: none;
        }
    }

    &::after {
        content: "";

        display: block;

        position: absolute;
        top: -10px;
        inset-inline-start: calc(50% - 10px);

        z-index: 1;

        width: 0;

        border-style: solid;
        border-width: 0 10px 10px;
        border-color: $background_color transparent;

        @include breakpoint($large) {
            display: none;
        }
    }

    ul {
        padding: 10px;
        list-style-type: none;
    }

    li {
        white-space: nowrap;
    }

    a {
        display: block;

        padding-block: 2px;
        padding-inline-end: 5px;

        margin-bottom: 5px;

        color: inherit;

        font-size: $type_size_5;

        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


// Wide pages.
.wide {
    .sidebar_right {
        margin-bottom: 1em;

        @include breakpoint($large) {
            position: initial;
            top: initial;
            inset-inline-end: initial;

            z-index: initial;

            width: initial;

            padding-inline-start: initial;
            margin-inline-end: initial;

            &.sticky {
                float: none;
            }
        }

        @include breakpoint($x_large) {
            width: initial;
            margin-inline-end: initial;
        }
    }
}

.sidebar {
    padding-inline-end: 0.5rem;

    color: $dark_gray;

    font-family: $bitmap_sans_serif;

    opacity: 0.75;

    transition: opacity 0.2s ease-in-out;

    @include breakpoint($large) {
        float: inline-start;

        width: calc(#{$right_sidebar_width_narrow} - 1em);

        &.sticky {
            overflow-y: auto;

            // Limit the sticky navigation to the viewport.
            max-height: calc(100vh - #{$nav_height} - 2em);
        }
    }

    @include breakpoint($x_large) {
        width: calc(#{$right_sidebar_width} - 1em);
    }

    > * {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;

        font-family: $sans_serif_narrow;
    }

    p,
    li {
        font-family: $sans_serif;
        font-size: $type_size_6;
        line-height: 1.2;
    }

    img {
        width: 100%;

        &.emoji {
            width: 20px;
            height: 20px;
        }
    }

    &:hover,
    &:focus-within {
        opacity: 1;
    }

    .sidebar_contents {
        margin-bottom: 0.5rem;
    }

    .sidebar_profile_section {
        display: flex;

        flex-direction: column;

        gap: 0.5rem;
    }

    .sidebar_profile {
        display: flex;

        align-items: center;
        flex-direction: column;

        gap: 0.5rem;

        text-decoration: none;

        &:hover {
            .sidebar_profile_name,
            .sidebar_profile_bio {
                color: $primary_color;
            }

            .sidebar_profile_avatar {
                border-color: $primary_color;
            }
        }
    }

    .sidebar_profile_contents {
        display: flex;

        align-items: center;
        flex-direction: column;

        width: 100%;

        text-align: center;
    }

    .sidebar_profile_avatar {
        width: 72px;
        height: 72px;

        padding: 5px;

        border: 1px solid $border_color;
        border-radius: 50%;

        object-fit: contain;

        transition: border-color 0.2s ease;
    }

    .sidebar_profile_name {
        margin: 0 0 0.25rem 0;

        color: $black;

        font-size: $type_size_8;
        font-weight: bold;
        line-height: 1.25;

        transition: color 0.2s ease;
    }

    .sidebar_profile_bio {
        max-width: 10rem;

        margin: 0 0 0.5rem 0;

        color: $dark_gray;

        transition: color 0.2s ease;

        p {
            margin: 0;

            font-family: $bitmap_sans_serif;
            font-size: $type_size_10;
            line-height: 1.5;
        }
    }

    .sidebar_follow {
        padding-bottom: 1rem;

        border-bottom: 1px solid $light_gray;
    }

    .sidebar_follow_list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        gap: 0.25rem;
    }

    .sidebar_follow_item {
        margin-bottom: 0;
    }

    .sidebar_follow_link {
        display: flex;

        align-items: center;

        padding: 0.1rem;

        color: $dark_gray;

        font-family: $bitmap_sans_serif;
        font-size: $type_size_9;
        text-decoration: none;

        .links_icon {
            display: inline-block;

            width: 0.75rem;
            height: 0.75rem;

            vertical-align: -0.1rem;
        }

        &:hover {
            color: $primary_color;

            font-weight: bold;
        }
    }

    .sidebar_follow_link_label {
        margin-inline-start: 0.5rem;

        font-size: $type_size_10;

        white-space: nowrap;
    }

    .sidebar_profile,
    .sidebar_follow_link {
        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid $primary_color;
        }
    }

    .sidebar_navigation_list,
    .sidebar_navigation_links,
    .sidebar_follow_list {
        padding: 0;
        margin: 0;

        list-style: none;
    }

    .sidebar_navigation_group {
        padding: 0.5rem 0;

        border-bottom: 1px solid $lighter_gray;
    }

    .sidebar_navigation_group_title {
        margin: 0.5rem 0;

        font-family: $bitmap_sans_serif;
        font-size: $type_size_9;
    }

    .sidebar_navigation_links {
        padding-inline-start: 0.5rem;
    }

    .sidebar_navigation_item {
        margin-bottom: 0.25rem;

        font-family: $bitmap_sans_serif;
        font-size: $type_size_9;
    }

    .sidebar_navigation_link {
        display: flex;

        justify-content: space-between;

        color: $dark_gray;

        &.is_active {
            color: $black;

            font-weight: bold;
        }

        &:hover {
            color: $primary_color;

            font-weight: bold;
        }
    }

    .sidebar_navigation_post_count {
        padding: 0.1rem;
        margin-inline-end: 0.5rem;
    }
}

@media (max-width: 1023px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: ($large - 1px)) {
    .sidebar_right {
        display: none;
    }
}

@media (max-width: $medium) {
    .navigation_list {
        display: none;
    }
}
