/* Tables */

@use "sass:color";


table {
    display: block;
    overflow-x: auto;

    width: 100%;

    margin-bottom: 1em;

    border-collapse: collapse;

    font-size: $type_size_6;

    & + table {
        margin-top: 1em;
    }
}

thead {
    border-bottom: 2px solid color.mix(#000, $border_color, 25%);

    background-color: $border_color;
}

th {
    padding: 0.5em;

    font-weight: bold;

    text-align: start;
}

td {
    padding: 0.5em;

    border-bottom: 1px solid color.mix(#000, $border_color, 25%);
}

tr,
td,
th {
    vertical-align: middle;
}
