/* Utility classes. */

@use "sass:color";


// Visibility.
.hidden,
.is_hidden {
    display: none;
}


// Preloaded images.
.load {
    display: none;
}

.transparent {
    opacity: 0;
}

.visually_hidden,
.screen_reader_text,
.screen_reader_text span,
.screen_reader_shortcut,
.screen_reader_only,
.screen_reader_focusable:not(:focus) {
    overflow: hidden;

    position: absolute !important;

    width: 1px !important;
    height: 1px !important;

    padding: 0 !important;
    margin: -1px;

    border: 0 !important;

    white-space: nowrap;

    clip-path: inset(50%);
}


// Screen readers
.screen_reader_text:focus,
.screen_reader_shortcut:focus {
    display: block;

    overflow: visible;

    position: fixed !important;
    top: 0;
    inset-inline-start: 0;

    z-index: 100000;

    width: auto !important;
    height: auto !important;

    padding: 15px 23px 14px !important;
    margin: 0;

    background: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);

    font-size: 1em;
    font-weight: bold;

    text-decoration: none;

    clip-path: none;
}


// Type
$text_alignments: left, right, start, end, center, justify;
@each $alignment in $text_alignments {
    .text_#{$alignment} {
        text-align: $alignment;
    }
}

.text_nowrap {
    white-space: nowrap;
}


// Task lists
.task-list {
    padding: 0;

    li {
        list-style-type: none;
    }

    .task-list-item-checkbox {
        margin-inline-end: 0.5em;
        opacity: 1;
    }

    .task-list {
        margin-inline-start: 1em;
    }
}


// Alignment
.cf {
    clear: both;
}

.wrapper {
    width: 100%;

    margin-inline: auto;
}


// Images
.align_left {
    display: block;
    margin-inline: auto;

    @include breakpoint($small) {
        float: inline-start;

        margin-inline-end: 1em;
    }
}

.align_right {
    display: block;
    margin-inline: auto;

    @include breakpoint($small) {
        float: inline-end;

        margin-inline-start: 1em;
    }
}

.align_center {
    display: block;
    margin-inline: auto;
}

.full {
    @include breakpoint($large) {
        margin-inline-end: -1 * span(2.5 of 12) !important;
    }
}


// Icons
.icon {
    display: inline-block;

    position: relative;
    top: -0.1em;

    width: 1em;
    height: 1.1em;

    line-height: 1;

    fill: currentColor;
    vertical-align: middle;
}

.social_icons {
    .fas,
    .fab,
    .far,
    .fal {
        color: $text_color;
    }

    @each $color, $icons in (
        $behance_color: ".fa-behance, .fa-behance-square",
        $bitbucket_color: ".fa-bitbucket",
        $dribbble_color: ".fa-dribbble, .fa-dribbble-square",
        $facebook_color: ".fa-facebook, .fa-facebook-square, .fa-facebook-f",
        $flickr_color: ".fa-flickr",
        $foursquare_color: ".fa-foursquare",
        $github_color: ".fa-github, .fa-github-alt, .fa-github-square",
        $gitlab_color: ".fa-gitlab",
        $instagram_color: ".fa-instagram",
        $keybase_color: ".fa-keybase",
        $lastfm_color: ".fa-lastfm, .fa-lastfm-square",
        $linkedin_color: ".fa-linkedin, .fa-linkedin-in",
        $mastodon_color: ".fa-mastodon, .fa-mastodon-square",
        $pinterest_color: ".fa-pinterest, .fa-pinterest-p, .fa-pinterest-square",
        $reddit_color: ".fa-reddit",
        $rss_color: ".fa-rss, .fa-rss-square",
        $soundcloud_color: ".fa-soundcloud",
        $stackoverflow_color: ".fa-stack-exchange, .fa-stack-overflow",
        $tumblr_color: ".fa-tumblr, .fa-tumblr-square",
        $twitter_color: ".fa-twitter, .fa-twitter-square",
        $x_color: ".fa-x-twitter, .fa-square-x-twitter",
        $vimeo_color: ".fa-vimeo, .fa-vimeo-square, .fa-vimeo-v",
        $vine_color: ".fa-vine",
        $xing_color: ".fa-xing, .fa-xing-square",
        $youtube_color: ".fa-youtube",
    ) {
        #{$icons} {
            color: $color;
        }
    }
}


// Navigation icons
.navicon {
    position: relative;

    width: $navicon_width;
    height: $navicon_height;

    margin: auto;

    background: $primary_color;

    transition: 0.3s;

    &::before,
    &::after {
        content: "";

        position: absolute;
        inset-inline-start: 0;

        width: $navicon_width;
        height: $navicon_height;

        background: $primary_color;

        transition: 0.3s;
    }

    &::before {
        top: (-2 * $navicon_height);
    }

    &::after {
        bottom: (-2 * $navicon_height);
    }
}

.close {
    .navicon {
        // Hide the middle line.
        background: transparent;

        // Overlay the outer lines.
        &::before,
        &::after {
            top: 0;

            width: $navicon_width;

            transform-origin: 50% 50%;
        }

        // Rotate the lines into an X.
        &::before {
            transform: rotate3d(0, 0, 1, 45deg);
        }

        &::after {
            transform: rotate3d(0, 0, 1, -45deg);
        }
    }
}

.greedy_nav_toggle {
    &::before {
        @supports (pointer-events: none) {
            content: "";

            position: fixed;
            top: 0;
            inset-inline-start: 0;

            width: 100%;
            height: 100%;

            background-color: $background_color;

            opacity: 0;

            pointer-events: none;

            transition: $global_transition;
        }
    }

    &.close {
        &::before {
            opacity: 0.9;

            pointer-events: auto;

            transition: $global_transition;
        }
    }
}

.greedy_nav_toggle:hover {
    .navicon,
    .navicon::before,
    .navicon::after {
        background: color.mix(#000, $primary_color, 25%);
    }

    &.close {
        .navicon {
            background: transparent;
        }
    }
}


// Sticky content
.sticky {
    @include breakpoint($large) {
        @include apply_clearfix();

        position: sticky;
        top: 2em;

        > * {
            display: block;
        }
    }
}


// Wells
.well {
    min-height: 20px;

    padding: 19px;
    margin-bottom: 20px;

    border: 1px solid #e3e3e3;
    border-radius: $border_radius;

    background-color: #f5f5f5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


// Modals
.show_modal {
    overflow: hidden;

    position: relative;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        inset-inline-start: 0;

        z-index: 999;

        width: 100%;
        height: 100%;

        background-color: rgba(255, 255, 255, 0.85);
    }

    .modal {
        display: block;
    }
}

.modal {
    display: none;

    position: fixed;
    top: 50%;
    inset-inline-start: 50%;

    z-index: 9999;

    width: 300px;
    min-height: 0;

    margin-top: -150px;
    margin-inline-start: -150px;

    border: 1px solid $border_color;
    border-radius: $border_radius;

    background: #fff;
    box-shadow: $box_shadow;

    &_title {
        padding: 0.5em 1em;
        margin: 0;
    }

    &_supporting_text {
        padding: 0 1em 0.5em 1em;
    }

    &_actions {
        padding: 0.5em 1em;

        border-top: 1px solid $border_color;
    }
}


// Footnotes
.footnote {
    color: color.mix(#fff, $gray, 25%);
    text-decoration: none;
}

.footnotes {
    color: color.mix(#fff, $gray, 25%);

    ol,
    li,
    p {
        margin-bottom: 0;
        font-size: $type_size_6;
    }
}

a.reversefootnote {
    color: $gray;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


// Required fields
.required {
    color: $danger_color;
    font-weight: bold;
}


// Google Custom Search Engine
.gsc-control-cse {
    table,
    tr,
    td {
        border: 0;  // remove table borders widget
    }
}


// Responsive video embeds
.responsive_video_container {
    overflow: hidden;

    position: relative;

    max-width: 100%;
    height: 0;

    padding-bottom: 56.25%;
    margin-bottom: 1em;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        inset-inline-start: 0;

        width: 100%;
        height: 100%;
    }
}


// Full-screen video fixes
:-webkit-full-screen-ancestor {
    .masthead,
    .page_footer {
        position: static;
    }
}
